$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@import "bootstrap-waterfall.scss";
