$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.bootstrap-waterfall {
  position: relative;
  
  .list-group {
    position: absolute;
    width: 240px;
    
    > li:first-child {
      padding: 10px 0;
      background-color: white;
      
      img {
        width: 100%;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
    }
    
    > li {
      background-color: #f5f5f5;
    }

  }

}

