---
layout: default
---

<div class="jumbotron">
  <h1>Bootstrap-waterfall</h1>
  <p class="lead">Waterfall the world beauty.</p>
  <p>
    <a class="btn btn-lg btn-success" href="{{ "/getting-started" | prepend: site.baseurl }}">Getting Started</a>
    <a class="btn btn-lg btn-default" href="https://github.com/Mystist/bootstrap-waterfall/releases">Download</a>
    <a class="btn btn-lg btn-info" href="{{ "/dist/" | prepend: site.baseurl }}">Demo</a>
  </p>
</div>

<div class="row">
  <div class="col-lg-12">
    <a href="https://github.com/Mystist/bootstrap-waterfall"><img src="https://img.shields.io/github/stars/Mystist/bootstrap-waterfall.svg" alt="Bootstrap-waterfall" /></a>
    <a href="https://996.icu"><img src="https://img.shields.io/badge/link-996.icu-red.svg" alt="996.icu" /></a>

    <div class="marketing">
      {{ content }}
    </div>
  </div>
</div>
